{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">Générateur de séquences</div>
                        <div class="card-body card-block">

                            <form action="reserve_sequence" method="post" class="">
                                <div class="form-group col-lg-6">
                                    <div class="input-group">
                                        <input type="text" id="sequence" name="sequence" placeholder="Sequence"
                                               class="form-control" readonly value="">
                                        <button type="button" href="{{ path('generate_sequence') }}"
                                                id="generate_sequence_btn" class="btn btn-success btn-sm fa fa-cog">
                                            Génerer
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="_username" class="control-label mb-1">Demandeur</label>
                                    <input id="_username" name="_username" class="form-control"
                                           value="{{ app.user.username }}" type="text" readonly>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="_username" class="control-label mb-1">Agence</label>
                                    <input type="text" id="agency" name="agency"
                                           class="form-control" readonly value="{{ app.user.agency }}">
                                </div>
                                {#
                                                                <div class="form-actions form-group">
                                                                    <button type="submit" onclick="return " class="btn btn-success btn-sm">Reserver</button>
                                                                </div>#}
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div><!-- .animated -->
    </div><!-- .content -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
